#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  background-color: #272727;
  display: flex;
  justify-content: center;
}

nav {
  font-size: larger;
  margin-top: 20px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
